/*
* @Author: XiangYanfei
* @Date:   2019-05-06 21:45:26
* @Last Modified by:   XiangYanfei
* @Last Modified time: 2019-05-06 22:46:15
*/
/*导航主体*/
.nav-side{
    float:left;
    width: 130px;
    min-height: 100px;
    margin-left: 150px;
}

.nav-side .nav-item{
    line-height: 25px;
    font-size: 13px;
}

.nav-side .nav-item .link{
    color: #888;
}

.nav-side .nav-item.active .link{
    color: #c60023;
}

/*右侧内容区*/
.content.with-nav{
    float: left;
    width: 950px;
}