/*
* @Author: XiangYanfei
* @Date:   2019-05-06 20:25:53
* @Last Modified by:   XiangYanfei
* @Last Modified time: 2019-05-06 21:18:59
*/
.header .logo{
    position: absolute;
    left: 60px;
    top:35px;
    display: block;
    font-size: 36px;
    font-weight: bold;
    color: #c60023;
}

.header .search-con{
    padding: 40px 0 30px 250px;
}

.header .search-con .search-input{
    width: 550px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 15px;
    border: 2px solid #c60023; 
    outline: none;
}

.header .search-con .search-btn{
    position: absolute;
    height: 44px;
    width: 80px;
}