/*
* @Author: XiangYanfei
* @Date:   2019-05-06 15:28:04
* @Last Modified by:   XiangYanfei
* @Last Modified time: 2019-05-06 15:54:40
*/
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
}